@model List<ArticleModel>

<div class="tech-btm">
    <h4>Last stories of writer</h4>

    @foreach (var article in Model)
    {
        <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
                <a href="single.html">
                    <img src="@article.Image" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">

                <h5>
                    <a href="single.html">@article.Title</a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i>@article.CreatedDate.ToString("dd-MMM-yyyy")
                    </span>
                </div>
            </div>

        </div>
    }
</div>